@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-900 m-4 text-white
}

h1 {
    @apply text-xl font-bold mb-2
}

h2 {
    @apply font-semibold mb-2
}

hr {
    @apply border-neutral-500 my-4
}

button {
    @apply px-4 py-1 border-1 rounded-sm border-neutral-400 hover:bg-fuchsia-200/20 hover:border-fuchsia-200 disabled:bg-gray-200/20 disabled:text-gray-300 transition-colors duration-200
}

.instruction {
    @apply border-neutral-500 border-1 rounded-sm border-neutral-400 hover:border-fuchsia-200 transition-colors duration-200 bg-neutral-800 
}

input {
    @apply border-b-1 border-neutral-400 font-mono
}

table {
    @apply table-auto
}

thead {
    @apply bg-fuchsia-200/20
}

tr {
    @apply border-1 border-neutral-500
}

th, td {
    @apply text-left px-2 py-1
}

select {
    @apply border-1 border-neutral-500 rounded-sm bg-gray-900 px-2 py-1
}

.expandable {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.expandable.expanded {
    max-height: 500px;
    /* Set to a value larger than your content's height */
}